body {
    color: $color_gray-darker;
    font-family: $font_sans-serif;
    font-size: $font_size;
}

// Headings
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-transform: uppercase;
}

// Code
pre, code {
    font-family: $font_monospace;
}

// Links
a {
    color: $color-orange;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;;
    }
}

// Quote
blockquote {
    border-left: 3px solid $color_gray-light;
}