// Colors
$color_orange: #ff7800;
$color_blue: #0092b2;
$color_red: #b25400;
$color_gray-light: #c8c8c8;
$color_gray: #86888b;
$color_gray-dark: #646464;
$color_gray-darker: #333333;
$color_white: #ffffff;

// Typography
$font_sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font_monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font_size: 1.6rem;